* {
    padding: 0;
    margin: 0;
    background-color: #0b6d0e;
}

.todo-container {
    font-family: Arial, sans-serif;
    background-color: #c5fbac95;
    padding: 10px;
    border-radius: 10px;
    width: 650px;
    margin: 20px auto;
}

#taskInput {
    width: 70%;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    color: #034b06;
    background-color: white;
}

#addTaskButton {
    background-color: #034b06;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

#taskList {
    list-style: none;
    margin-top: 20px;
    background-color: transparent;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}

.list-item button {
    height: fit-content;
    background-color: #dd1e09;
    color: white;
    border: 1px solid #b61806;
    padding: 5px 10px;
    border-radius: 7px;
    transition: 0.45s;
}

.list-item button:hover {
    background-color: white;
    color: #b61806;
    border: 1px solid #b61806;
}